ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 25%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  height: 300px;
  display: flex;
  overflow-x: scroll;
}
.carousel__viewport::-webkit-scrollbar {
  width: 0;
}
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #E02C6D;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: ##E02C6D;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #E02C6D;
  font-size: 2em;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 1rem;
  height: 4rem;
  transform: translateY(-50%);
  font-size: 0;
  outline: 0;
}
.extra-section{
  max-width: 500px;
  margin: 0 auto;
}

.review-info{
  display: flex;
  color: white;
  font-weight: 500;
}
.review-info img{
  width: 40%;
}